/*===== GOOGLE FONTS =====*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

/* CSS Variables */
:root {
    --header-height: 3rem;
    --font-semi: 600;    
}

/* Images */
:root {
    --mode-img: "../images/moon.png";
}

/* Colors */
:root {
    --first-color: #EDE6DB;
    --second-color: #1A3C40; 
    --third-color: #1D5C63;
    --fourth-color: #417D7A;
    --play-color: #08A045;
    --resign-color: #F95738;
    --disabled-color: #847979;
    --mine-color: #ED254E;
    --flag-color: #FE9000;
    --bg-color: #EDE6DB
}

/* Fonts and typography */
:root {
    --body-font: "Poppins", sans-serif;
    --big-font-size: 2rem;
    --h2-font-size: 1.25rem;
    --normal-font-size: 0.938rem;
}
@media screen and (max-width: 1040px) {
    :root {
        --big-font-size: 3.5rem;
        --h2-font-size: 2rem;
        --normal-font-size: 1rem;
    }
}

/* Board size */
:root {
    --board-size-x: 8;
    --board-size-y: 10;
    --number-mines: 10;
}


*, *::before, *::after {
    box-sizing: border-box;
}

body {
    background-color: var(--bg-color);
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-basis: 1;
    font-family: var(--body-font);
    list-style: none;
    margin: 0;
    padding: 0;
}

.show-navbar {
    display: none;
}

nav {
    align-items: center;
    background-color: var(--second-color);
    display: flex;
    height: max(10vh, var(--header-height));
    justify-content: space-between;
    width: 100vw;
    font-size: clamp(0.5rem, var(--normal-font-size), 1.5rem);
}

.logo {
    width: clamp(3.5rem, 4%, 5rem);
    margin-left: 1rem;
}

.darken-logo {
    padding: 5px;
    background-color: var(--first-color);
    border-radius: 20px;
}

ul {
    align-items: center;
    display: flex;
    gap:0.5rem;
    list-style-type: none;
    padding: 0;
}

.nav-list-element {
    border-radius: 12px;
    color: var(--second-color);
    display: inline-block;
    font-weight: var(--font-semi);    
    padding: 1rem 0;
}

.nav-list-element:hover {
    background-color: var(--third-color);
    color: var(--first-color);
}

.nav-list-difficulty-element {
    background-color: var(--first-color);
}

.mines-left {
    border-radius: 12px;
    color: var(--second-color);
    display: inline-block;
    font-weight: var(--font-semi);    
    padding: 1rem 0;
    background-color: var(--first-color);
}

.time {
    border-radius: 12px;
    color: var(--second-color);
    display: inline-block;
    font-weight: var(--font-semi);    
    padding: 1rem 0;
    background-color: var(--first-color);
    color: var(--second-color);
    text-align: center;
}


.toolbar-option {
    min-width: 10vw;
    text-align: center;
    padding-left: 1vw;
    padding-right: 1vw;
}

.win {
    background-color: var(--play-color);
}

.lose {
    background-color: var(--mine-color);
}

main {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: min(90vh, 100vh - var(--header-height));
    justify-content: center;
    position: relative;    
    width: 100%;
}

.info-mobile-element {
    display: none;
}

.grid {
    display: inline-grid;
    padding: 10px;
    grid-template-columns: repeat(var(--board-size-y), min( 75vh / var(--board-size-x), 85vw / var(--board-size-y)));
    grid-template-rows: repeat(var(--board-size-x), min( 75vh / var(--board-size-x), 85vw / var(--board-size-y)));
    gap: 4px;
}

.grid-start {
    background: url("../images/mine.png") var(--bg-color);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 10%;
    border-radius: 100px;
    border: 1rem solid var(--second-color);
    padding: 0;
    margin-left: 5vw;
    margin-right: 5vw;
    width: 90vw;
}

.grid-start:hover {
    background-color: var(--mine-color);
    transition: all 0.15s ease-in-out;
}

.grid > * {
    border-radius: 5px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border: 2px solid black;
    user-select: none;
}

.grid > *:hover {
    opacity: 0.75;
    transition: all 0.15s ease-in-out;
}

.grid > [data-status="hidden"] {
    background-color: var(--third-color);
    cursor: pointer;
    transition: all 0.15s ease-in-out;
}

.grid > [data-status="mine"] {
    background: url("../images/mine.png") var(--mine-color);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 75%;
    transition: background-color 0.15s ease-in-out;
}

.grid > [data-status="number"] {
    background-color: var(--play-color);
    transition: all 0.15s ease-in-out;
}

.grid > [data-status="marked"] {
    background: url("../images/red-flag.png") var(--flag-color);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 75%;
    transition: background-color 0.15s ease-in-out;
}

.lightmode {
    background: url("../images/moon.png") transparent;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 75%;
}

.darkmode {
    background: url("../images/sun.png") transparent;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 75%;
}

#mode {
    aspect-ratio: 1;
    min-width: 1rem;
    height: 3.5rem;
    margin-right: 1rem;
    border-radius: 50%;
}

@media screen and (max-width: 1040px) {
    body {
        display: inline-block;
        flex-direction: row;
        position: relative;
        width: 100%;
    }

    .show-navbar {
        align-items: center;
        display: flex;
        gap: 1rem;
        position: absolute;
        top: 10px;
        left: 10px;
        background-color: var(--mine-color);
        color: inherit;
        border: none;
        padding: 0;
        font: inherit;
        cursor: pointer;
        outline: inherit;
        z-index: 10;
        transition: all 0.1s ease-in-out;
        padding: 10px;
        border-radius: 15px;
        height: 40px;
    }

    .navbar-img {
        display: inline;
        height: 30px;
    }
    
    .show-navbar-open {
        left: calc(10px + 40vw);
        transition: all 0.1s ease-in-out;
    }

    nav {
        align-items: stretch;
        flex-direction: column;
        flex-grow: 1;
        width: 40vw;
        height: 100vh;
        position: absolute;
        z-index: 10;
        transition: all 0.1s ease-in-out;
    }
    
    .logo {
        margin-top: 30px;
        margin-left: auto;
        margin-right: auto;
        width: 5rem;
    }
    
    ul {
        flex-direction: column;
        margin: 0 1rem;
    }
    
    .nav-list-element { 
        padding: 1rem 0;
    }
    
    .nav-list-data {
        display: none;
    }

    .toolbar-option {
        width: 100%;
        text-align: center;
        padding-left: 10%;
        padding-right: 10%;
        font-size: 0.75rem; 
    }

    nav, nav > * {
        left: -40vw;
        transition: all 0.1s ease-in-out;
    }
    
    .navbar-open {
        left: 0;
        display: flex;
        border-right: 3px solid var(--first-color);
        transition: all 0.1s ease-in-out;
    }
    
    navbar-child-open {
        left: 0;
    }
    
    main {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        height: 100vh;
    }

    .info-mobile-list {
        align-items: center;
        justify-content: center;
        flex-direction: row;
        gap: 0.5rem;
        height: 5rem;
        width: 20rem;
        color: var(--first-color);
    }

    .info-mobile-element {
        align-items: center;
        display: flex;
        height: 4rem;
        justify-content: center;
        background-color: var(--second-color);
        width: 10rem;
        border-radius: 15px;
    }

    .info-mobile-element-win {
        background-color: var(--play-color);
    }
    
    .info-mobile-element-lose {
        background-color: var(--mine-color);
    }
    
    .grid {
        grid-template-columns: repeat(var(--board-size-y), min( 85vh / var(--board-size-x), 90vw / var(--board-size-y)));
        grid-template-rows: repeat(var(--board-size-x), min( 85vh / var(--board-size-x), 90vw / var(--board-size-y)));
        gap: 0;
        left: auto;
        right: auto;
    }

    .grid > * {
        border-radius: 5px;
        border-color: var(--first-color);
    }

    #mode {
        height: 5rem;
        margin-bottom: 30px;
        background-size: 25%;
    }
}
